[user]
	email = i.am.tkmru@gmail.com
	name = tkmru
[core]
	excludesfile = /Users/takemaru/.gitignore
	editor = vim
[alias]
    br = branch
    cl = clone
    cm = commit
	co = checkout
    ga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    l = log
    ph = push
    st = status
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
